 <tr>
  <td><%= attachment_image_tag(group, :image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
  <td><%= link_to "group.name", group_path(group) %></td>
  <td><%= group.introduction %></td>
  <td>
    <% group.users.each do |user| %>
      <%= user.name %><br>
    <% end %>
  </td>
  <td>
    <% if group.owner_id == current_user.id %>
      <%= link_to "Edit", edit_group_path(group), class: 'btn btn-success' %>
    <% else %>
      <% if group.users.include?(current_user)%>
        <%= link_to "Leave this group", leave_group_path(group), class: 'btn btn-danger' %>
      <% else %>
        <%= link_to "Join this group", join_group_path(group), class: 'btn btn-success' %>
      <% end %>
    <% end %>
  </td>
</tr>