<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
	  <th><%= link_to "#{user.follower.count}", following_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
	  <th><%= link_to "#{user.followed.count}", follower_user_path(user) %></th>
  </tr>
  <tr>
    <% if user.id != current_user.id %>
      <% if current_user.following?(user) %>
        <th class="px-0" colspan="2">
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :post, class: "btn btn-info" %>
          <% if @isRoom == true %>
            <%= link_to "チャットへ", user_room_path(user_id: @user, id: @roomId)%>
          <% else %>
            <%= form_with model: @room, url: user_rooms_path(@user), local:true do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "チャットを始める", method: :post %>
            <% end %>
          <% end %>
        </th>
      <% else %>
        <th class="px-0" colspan="2">
          <%= link_to 'フォローする', follow_path(user.id), method: :post, class: "btn btn-success" %>
        </th>
      <% end %>
    <% end %>
  </tr>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>